window#waybar {
    background-color: transparent;
    font-family: Blex Nerd Font Mono;
    font-size: 12px;
}

window#waybar.hidden {
    opacity: 0.1
}

.modules-right {
    background: rgba(8,14,25,0.823);
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

.modules-center {
    background: rgba(10,20,40,0.1);
    border-radius: 5px; 
    padding: 5px;
}

button {
    border: none;
}

button:hover {
    background: @background;
}

/* single modules */
#window {
    background-color: rgba(5,10,20,0.4)
}
#window {
    border-radius: 5px;
    /* background-image: url("media/snow1.png"); */
    background-size: 70px 70px;
    background-position: 0px 0%;
    animation-name: snowfall;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    color: @active;
    opacity: 1;
    padding: 0px 10px;
}

#custom-pacman {
    background-color: rgba(20,30,40,0.9);
    color: white;
    opacity: 1;
    margin: 5px;
    margin-left: 5px;
    padding: 0px 10px 0px 10px;
    border-radius: 5px;
}

#custom-power {
    color: white;
    border-radius: 15px;
    background: rgba(72, 74, 78, 0.9);
    padding: 2px 5px 2px 5px;
}

#workspaces {
    padding: 0px;
    font-family: Blex Nerd Font Mono;
    font-size: 20px;
    border-radius: 20px;
    background: transparent;
    font-weight: bold;
}

#workspaces button {
    padding: 0px 6px;
    padding-right: 12px;
    margin: 4px;
    margin-right: 8px;
    margin-left: 4px;
    border-radius: 20px;
    background-color: rgba(20,30,40,0.8);
}

#workspaces button:hover {
    padding-left: 20px;
    padding-right: 20px;
    background: rgba(20,30,40,0.5);
}

#workspaces button:nth-child(1) {
    color: @color1;
}
#workspaces button:nth-child(2) {
    color: @color2;
}
#workspaces button:nth-child(3) {
    color: @color3;
}
#workspaces button:nth-child(4) {
    color: @color4;
}
#workspaces button:nth-child(5) {
    color: @color5;
}
#workspaces button:nth-child(6) {
    color: @color6;
}
#workspaces button:nth-child(7) {
    color: @color7;
}

#workspaces button.active {
    box-shadow: 0 0 4px 2px #689d69;
    padding-left: 25px;
    padding-right: 30px;

    background-image: url("media/snow1.png");
    background-size: 70px 70px;
    background-position: 0px 0%;
    animation-name: snowfall;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes snowfall {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 0px 70px;
    }
}

#workspaces button.urgent {
    background-color: #eb4d4b;;
}

/* status modules */
#network {
    color: white;
    border-radius: 15px;
    background: rgba(72, 74, 78, 0.9);
    padding: 2px 5px 2px 5px;
    margin: 0;
}
#pulseaudio {
    background: rgba(72, 74, 78, 0.9);
    color: white;
    opacity: 1;
    margin: 0;
    padding: 2px 10px 2px 10px;
    border-radius: 5px;
    min-width: 40px;
}
#battery {
    background: rgba(72, 74, 78, 0.9);
    color: white;
    opacity: 1;
    margin: 0;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}
#backlight {
    background: rgba(72, 74, 78, 0.9);
    color: white;
    opacity: 1;
    margin: 0;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}
#temperature {
    background: rgba(72, 74, 78, 0.9);
    color: white;
    opacity: 1;
    margin: 0;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}
#clock {
    background: rgba(72, 74, 78, 0.9);
    color: white;
    opacity: 1;
    margin: 0;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}
